.App {
  text-align: center;
}

body {
  background: #243447;
}

#home {
  color: white;
  float: inline-end;
  border-collapse: separate;
  border-spacing: 15px 50px;
  
}

#sidebar {
  float: left;
  color: white;
  border-style: solid;
  margin-top: 1em;
  border-collapse: separate;
}
#tweet {
  color:white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
