.App {
  text-align: center;
}

body {
  color: white;
  background: #243447;
}

#home {
  color: white;
  float: inline-end;
  border-collapse: separate;
  border-spacing: 15px 50px;
}

#sidebar {
  float: left;
  color: white;
  border-style: solid;
  margin-top: 1em;
  border-collapse: separate;
}
#tweet {
  color:white;
}
#buttonsubmit{
  color: white;
  background: white;
}
@media only screen and (max-width: 850px) {
  #formsubmit {
    justify-items: center;
    max-width: 200px;
    display: grid;
  }
  #tweet {
    justify-items: center;
    display: grid;
    max-width: 200px;
  }
  #sidebar {
    display: inherit;
    margin: 1em;
  }
}
